.trip_table {
	min-width:100%;
	border-spacing:0px;
}
.trip_node_container {
	min-width: 100%;
	border-spacing: 0px;
}
.trip_node_container>tbody>tr>td {
	padding: 0px;
}
.trip_node {
	display: inline-block;
	border: 1px solid #0000FF;
	border-radius: 5px;
	background-color: white;
}
.trip_node_title {
	border-bottom: 1px solid #0000FF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 2px 5px;
	background-color: #0000FF;
	color: #FFFFFF;
}
.trip_node_title.editable {
	cursor: pointer;
}
.trip_node_title.editable:hover {
	text-decoration: underline;
}
.trip_node_footer {
	border-top: 1px solid #8080FF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #C0C0E8;
}
.trip_node_activities_table {
	border-collapse: collapse;
	border-spacing: 0px;
}
.trip_node_activities_table>tbody>tr>td {
	padding: 0px;
	vertical-align: top;
	text-align: left;
}
.trip_node_activities_table>tbody>tr.trip_node_activity_first_row>td {
	border-top: 1px solid #A0A0A0;
}
.trip_node_activity_number {
	background-color: #A0A0A0;
	border-bottom-right-radius: 5px;
	padding: 2px 5px;
	color: white;
	text-align: center;
}
.trip_node_activities_table>tbody>tr>td.trip_node_activity_header {
	font-weight: bold;
	color: #606060;
	padding: 1px 4px;
	white-space: nowrap;
}
.trip_connection_container {
	position: relative;
	text-align: center;
	background-image: url(/static/selection/trip/road.png);
	background-repeat: repeat-y;
	background-position-x: center;
}
.trip_connection_node {
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	padding: 3px;
}
.trip_connection_node .title {
	font-weight: bold;
	color: #606060;
}