<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<link rel="stylesheet" href="/static/theme/default/style/global.css"/>
	<script type="text/javascript" src="/static/javascript/utils.js"></script>
	<script type="text/javascript" src="/static/javascript/browser.js"></script>
    <script type="text/javascript" src="/static/javascript/layout.js"></script>
</head>
<body style='background-color:white'>
<div style="padding:5px;display:inline-block">
You are currently editing some data.<br/>
<br/>
In order to ensure that someone else will not make modifications at the same time as you, those data are locked, meaning nobody else can edit them.<br/>
<br/>
To avoid locking data for long time, it is automatically unlocked if you are inactive.<br/>
And it seems you are inactive since several minutes. Please click on the button below to continue working,<br/>
else the data will be automatically unlocked in <span style='font-weight:bold'><span id='seconds'></span> second(s).</span>
, and any modification which has not been saved will be lost.<br/>
<br/>
<button onclick='db_lock_still_here();'>I am still there !</button>
</div>
<script type='text/javascript'>
function db_lock_still_here() {
	window.top.pnapplication.userIsActive();
	window.parent.get_popup_window_from_element(window.frameElement).close();
}
function db_lock_not_there() {
	window.top.databaselock._userInactive();
	if (window && window.parent && window.parent.get_popup_window_from_element) {
		var popup = window.parent.get_popup_window_from_element(window.frameElement);
		if (popup) popup.close();
	}
}
var timing = 60;
function update_timing() {
	if (--timing < 0) timing = 0;
	document.getElementById('seconds').innerHTML = timing;
	if (timing > 0)
		setTimeout(update_timing,1000);
	else
		db_lock_not_there();
}
update_timing();
</script>
</body>
</html>