.codedoc_table {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0px;
	font-family: Verdana;
	font-size: 10pt;
}
.codedoc_table td, .codedoc_table th {
	border: 1px solid black;
	padding: 3px;
}

.codedoc_table_title {
	color: rgb(34,187,234);
	font-size: 12pt;
	font-weight: bold;
}
.codedoc_table_title2 {
	color: black;
	font-size: 10pt;
	font-weight: bold;
}

.codedoc_class {
	font-family: Courier New;
	font-size: 9pt;
	color: #000080;
	text-decoration: none;
}
.codedoc_modifiers {
	font-family: Courier New;
	font-size: 9pt;
	color: #808080;
	text-decoration: none;
}
.codedoc_property {
	font-family: Courier New;
	font-size: 9pt;
	color: #008080;
	text-decoration: none;
}
.codedoc_method {
	font-family: Courier New;
	font-size: 9pt;
	color: #800000;
	text-decoration: none;
}
.codedoc_parameter {
	font-family: Courier New;
	font-size: 9pt;
}
.codedoc_keyword {
	font-family: Courier New;
	font-size: 9pt;
	font-weight: bold;
	color: #800000;
}