/* General styles */

html, body, table, input, select {
	font-family: Arial, Tahoma, Verdana;
	font-size: 10pt;
}
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #f0f0f0;
}
input[type="text"], input[type="password"] {
	border: 1px inset #C0C0F0;
}
ul {
	margin: 0px;
}

/* Application layout */
#pn_application_content {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.pn_application_header_section {
	padding: 2px;
	border-left: 1px solid #A0A0E0;
}
#pn_application_footer {
	background-color: #C0C0C0;
	border-top: 1px solid black;
	font-size: 8pt;
	font-style: italic;
	text-align: center;
}

.application_menu_item {
	font-size: 11pt;
	font-weight: bold;
	color: #303090;
	text-shadow: #A0A0A0 0.1em 0.1em 0.1em;
	cursor: pointer;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}
.application_menu_item img {
	vertical-align: bottom;
	margin-right: 3px;
}
.application_menu_item:hover {
	color: #8040A0;
}

.frame_header {
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0e0e0 50%, #d0d0d0 80%, #b0b0b0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#e0e0e0), color-stop(80%,#d0d0d0), color-stop(100%,#b0b0b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0e0e0 50%,#d0d0d0 80%,#b0b0b0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0e0e0 50%,#d0d0d0 80%,#b0b0b0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0e0e0 50%,#d0d0d0 80%,#b0b0b0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0e0e0 50%,#d0d0d0 80%,#b0b0b0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #A0A0A0;
}
.frame_header {
	height: 35px;
}
.frame_header_title {
	/* header_title */
	border-right: 1px solid #FFFFFF;
	vertical-align: middle;
	font-weight: bold;
	color: #4040A0;
	background-color: rgba(255,255,255,0.4);
	border-bottom-right-radius: 10px 10px;
	-moz-border-radius-bottomright: 10px 10px;
	-webkit-border-bottom-right-radius: 10px 10px;
	padding: 3px 6px 2px 3px;
}
.frame_header .frame_header_title {
	font-size: 12pt;
}

.page_header, .page_header_small {
	background: #ebf1f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #ebf1f6 0%, #c8e6ff 50%, #b4dcf0 51%, #d5ebfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#c8e6ff), color-stop(51%,#b4dcf0), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebf1f6 0%,#c8e6ff 50%,#b4dcf0 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebf1f6 0%,#c8e6ff 50%,#b4dcf0 51%,#d5ebfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebf1f6 0%,#c8e6ff 50%,#b4dcf0 51%,#d5ebfb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ebf1f6 0%,#c8e6ff 50%,#b4dcf0 51%,#d5ebfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #C0E0FF;
}
.page_header {
	height: 35px;
}
.page_header_small {
	height: 25px;
}
.page_header_title {
	/* header_title */
	border-right: 1px solid #FFFFFF;
	vertical-align: middle;
	font-weight: bold;
	color: #3030A0;
	background-color: rgba(240,240,240,0.6);
	border-bottom-right-radius: 10px 10px;
	-moz-border-radius-bottomright: 10px 10px;
	-webkit-border-bottom-right-radius: 10px 10px;
	padding: 3px 6px 2px 3px;
	margin-right: 5px;
}
.page_header .page_header_title img {
	margin-right: 5px;
	vertical-align: middle;
}
.page_header_small .page_header_title img {
	margin-right: 3px;
	vertical-align: bottom;
}
.page_header .page_header_title {
	font-size: 12pt;
}
.page_header_small .page_header_title {
	font-size: 10pt;
}

.page_menu_item img {
	vertical-align: bottom;
	padding-right: 5px;
}
.page_menu_item {
	font-size: 11pt;
	color: #000060;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3px;
}
.page_menu_item a, a.page_menu_item {
	text-decoration: none;
	cursor: pointer;
	color: #000060;
}
.page_menu_item a:hover, a.page_menu_item:hover {
	color: #800080;
}
.page_menu_item:hover {
	background-color: rgba(255,255,255,0.4);
}
.page_menu_item:active {
	position: relative;
	top: 1px;
	left: 1px;
}

.header {
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}

table.all_borders {
	border: 1px solid black;
	border-collapse: collapse;
}
table.all_borders>tbody>tr>td, table.all_borders>tr>td {
	border: 1px solid black;
}
table.all_borders>tbody>tr>th, table.all_borders>tr>th {
	border: 1px solid black;
}

.section_with_title {
	border: 1px solid #A0A0F0;
	border-radius: 5px;
}
.section_with_title>div:first-child {
	padding: 5px;
	background-color: #E0E0FF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.section_with_title>div+div {
	padding: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.lock_screen_content {
	display: inline-block;
	padding: 5px;
	background-color: white;
	border: 1px solid #8080F0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 3px 1px #A0A0F0;
	-moz-box-shadow: 0px 0px 3px 1px #A0A0F0;
	-webkit-box-shadow: 0px 0px 3px 1px #A0A0F0;
}

/* Button */
button img {
	vertical-align: bottom;
}
.button {
	cursor: pointer;
    border: 1px solid rgba(0,0,0,0.4);
	padding: 2px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(170,170,170,0);
	display: inline-block;
	margin: 1px 2px 1px 2px;
	background-color: rgba(255,255,255,0.2);
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(192,192,192,0.6))); /* Chrome,Safari4+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* W3C */
	/*font-family: Verdana;*/
	font-family: Arial;
	font-weight: bold;
	color: #200040;
}
.button:hover {
	border: 1px solid rgba(0,0,0,0.6);
	box-shadow: 1px 1px 1px rgba(170,170,170,1);
	background-color: rgba(255,255,255,0.6);
}
.button:active {
	box-shadow: 0px 0px 0px;
	position: relative;
	top: 1px;
	left: 1px;
}
.button img {
	vertical-align: bottom;
}
.button.disabled {
	color: #808080;
	cursor: default;
}
.button.disabled img {
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.button.disabled:hover, .button.disabled:active {
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px rgba(170,170,170,0);
	margin: 1px 2px 1px 2px;
}
.button a, a.button {
	text-decoration: none;
	color: black;
}

.button_soft {
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.4);
	padding: 2px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(170,170,170,0);
	display: inline-block;
	margin: 1px 2px 1px 2px;
	background-color: rgba(255,255,255,0.2);
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(192,192,192,0.6))); /* Chrome,Safari4+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* W3C */
	/*font-family: Verdana;*/
	font-family: Arial;
	/* font-weight: bold;
	color: #808080; */
}

.button_soft:hover {
	border: 1px solid rgba(0,0,0,0.6);
	box-shadow: 1px 1px 1px rgba(170,170,170,1);
	background-color: rgba(255,255,255,0.6);
}
.button_soft:active {
	box-shadow: 0px 0px 0px;
	position: relative;
	top: 1px;
	left: 1px;
}
.button_soft img {
	vertical-align: bottom;
}
.button_soft.disabled {
	color: #808080;
	cursor: default;
}
.button_soft.disabled img {
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.button_soft.disabled:hover, .button.disabled:active {
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px rgba(170,170,170,0);
	margin: 1px 2px 1px 2px;
}
.button_soft a, a.button_soft {
	text-decoration: none;
	color: black;
}





.button_verysoft {
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0);
	padding: 2px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(170,170,170,0);
	display: inline-block;
	margin: 1px 2px 1px 2px;
}
.button_verysoft:hover {
	border: 1px solid rgba(128,128,128,0.4);
	box-shadow: 1px 1px 1px rgba(170,170,170,0.6);
	background-color: rgba(255,255,255,0.2);
}
.button_verysoft:active {
	box-shadow: 0px 0px 0px;
	position: relative;
	top: 1px;
	left: 1px;
}
.button_verysoft a,a.button_verysoft {
	text-decoration: none;
	color: black;
}

/* Popup Window */
.popup_window {
	position: fixed;
	z-index: 50;
	box-shadow: 0 0 10px 3px #A0A0D0;
	background-color: white;
	border: 1px solid black;
	border-spacing: 0px;
}
.popup_window_title {
	/*
	background-color: #A0A0D0;
	height: 20px;
	*/
	background-color: #D0D0F0;
	height: 30px;
}
.popup_window.blink {
	box-shadow: 0 0 20px 3px #FFA000;
	border: 1px solid #FFA000;
}
.popup_window.blink .popup_window_title {
	background-color: #FFA000;
}
.popup_window_title td {
	padding: 2px;
	color: white;
	font-weight: bold;
	font-size: 11pt;
	text-shadow: black 0.1em 0.1em 0.2em;
	border-bottom: 1px solid #6060A0;
	cursor: move;
}
.popup_window_title td+td {
	width: 20px;
	cursor: pointer;
}
.popup_window_buttons {
	background-color: #D0D0D0;
	height: 20px;
}
.popup_window_buttons td {
	border-top: 1px solid #808080;
	text-align: right;
}

/* Context Menu */
.context_menu {
	position: absolute;
	visibility: hidden;
	top: -10000px;
	border: 1px solid black;
	background-color: #F0F0F0;
	box-shadow: 3px 3px 3px #C0C0D0;
}
.context_menu_item {
	background-color: #F0F0F0;
	text-align: left;
	cursor: pointer;
	padding: 1px;
	border: 1px solid #F0F0F0;
}
.context_menu_item:hover, .context_menu_item_selected {
	background-color: #FFF0D0;
	border: 1px solid #F0E0C0;
}
.context_menu_item img {
	vertical-align: bottom;
}
.context_menu_item a, a.context_menu_item {
	text-decoration: none;
	color: black;
}
.context_menu_title {
	background-color: #D0D0FF;
	border-bottom: 1px solid #8080C0;
	text-align: center;
	padding: 2px;
}

/* Validation */

.validation_message {
	visibility: hidden;
	position: absolute;
	top: -10000px;
	color: red;
}
.validation_message img {
	vertical-align: middle;
}
.validation_error {
	border: 1px solid red;
}

/* Grid */

table.grid {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 1px solid black;
}
table.grid, table.grid input, table.grid select, table.grid table {
	font-size: 11px;
}
table.grid>tbody>td, table.grid>tbody>th {
	white-space: nowrap;
}
table.grid>thead>tr {
	background-color: #D0D0FF;
}
table.grid>thead>tr>th {
	border-right: 1px solid #A0A0FF;
	border-bottom: 1px solid #A0A0FF;
}
table.grid>tbody>tr>td {
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0FF;
	padding-left: 2px;
	padding-right: 2px;
}
table.grid>tbody>tr:nth-child(even) {
	background-color: #FFFFFF;
}
table.grid>tbody>tr:nth-child(odd) {
	background-color: #D8D8FF;
}
table.grid>tbody>tr:nth-child(even).selected {
	background-color: #FFFFC0;
}
table.grid>tbody>tr:nth-child(odd).selected {
	background-color: #F8E8C0;
}

/* Data List */
.data_list_title {
	background-color: rgba(255,255,255,0.3);
	border-right: 1px solid rgba(255,255,255,0.7);
	border-bottom-right-radius: 5px;
	padding-left: 2px;
	padding-right: 5px;
	margin-right: 5px;
	padding-top: 3px;
}
.data_list_title>img {
	vertical-align: top;
	padding-right: 5px;
}
.data_list_title>span {
	color: #404080;
	font-weight: bold;
	font-size: 12pt;
}

/* Collapsable section */
.collapsable_section {
	border: 1px solid black;
}
.collapsable_section_header {
	border-bottom: 1px solid black;
	background-color: #D0D0FF;
	cursor: pointer;
}
.collapsable_section_content {
}

/* Wizard */
.wizard {
	position: absolute;
	visibility: hidden;
	top: -10000px;
}

.wizard_table {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}
.wizard_table td {
	padding: 0px;
	margin: 0px;
}

.wizard_header {
	background-color: #D0D0FF;
	font-size: 12pt;
	color: #4040F0;
	height: 40px;
	border-bottom: 1px solid #8080FF;
}

.wizard_content {
	height: 100%;
	vertical-align: top;
}

.wizard_buttons {
	background-color: #D0D0D0;
	border-top: 1px solid #808080;
	height: 30px;
	text-align: right;
}
.wizard_buttons button {
	margin-left: 5px;
	margin-right: 5px;
}

/* Data List */
.data_list_header {
}

/* Splitters */
.splitter_vertical_separator {
	width: 5px;
	background-color: rgb(227, 239, 255);
	background-repeat: no-repeat!important;
	background-position: 50% center!important;
	cursor: w-resize;
	border-left: 1px solid rgb(164, 190, 212);
	border-right: 1px solid rgb(164, 190, 212);
}

/* Mac Tabs */
.mac_tabs {
	border: 1px solid black;
	display: inline-block;
	margin: 2px;
}
.mac_tab {
	border-right: 1px solid black;
	padding: 3px 5px 3px 5px;
	display: inline-block;
}
.mac_tab:last-child {
	border-right: 0px;
}

/* Small Calendar */
.small_calendar {
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
}
.small_calendar th {
	border: 1px solid #8080FF;
	text-align: center;
	vertical-align: middle;
	font-size: 8pt;
	color: #404080;
}
.small_calendar td {
	border: 1px solid #8080FF;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	width: 20px;
	height: 20px;
}
.small_calendar td.disabled {
	background-color: #C0C0C0;
	cursor: default;
}
.small_calendar td.selected {
	background-color: #C0C0FF;
	font-weight: bold;
	cursor: default;
}

/* Date Picker */
.date_picker {
	border: 1px solid black;
	background-color: white;
}
.date_picker>div:first-child {
	padding: 0px 5px 0px 5px;
	background-color: #C0C0FF;
}
.date_picker select {
	font-size: 11px;
	border: none;
}
.date_picker .small_calendar {
	border: 0px;
}