.data_list {
	display: flex;
	flex-direction: column;
}
.data_list_title {
	display: inline-block;
	flex: none !important;
	background-color: rgba(255,255,255,0.3);
	border-right: 1px solid rgba(255,255,255,0.7);
	border-bottom-right-radius: 5px;
	padding-left: 2px;
	padding-right: 5px;
	margin-right: 5px !important;
	margin-left: 0px !important;
	padding-top: 3px;
}
.data_list_title>img {
	vertical-align: top;
	padding-right: 5px;
}
.data_list_title>span {
	color: #404080;
	font-weight: bold;
	font-size: 12pt;
}

.data_list>.header {
	height: 30px;
	flex: none;
	background: linear-gradient(to bottom, #ebf1f6 0%, #d6e6ff 100%);
	border-bottom: 1px solid #808080 !important;
	display: flex;
	flex-direction: row;
}
.data_list>.header>.header_left {
	flex: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.data_list>.header>.header_left .results_number {
	font-weight: bold;
	color: #404080;
	font-size: 12pt;
}
.data_list>.header>.header_center {
	border-left: 1px solid #808080;
	flex: 1 1 auto;
}
.data_list>.header>.header_right {
	border-left: 1px solid #808080;
	flex: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.data_list>.grid_container {
	flex: 1 1 auto;
	overflow: auto;
}
.data_list>.footer {
	border-top: 1px solid #808080;
	background-color: #FFFFFF;
	flex:none;
}
.data_list>.footer>.footer_tools {
	padding: 1px 5px 1px 5px;
	display: flex;
	flex-direction: row;
}
table.data_list_select_fields_menu {
	border-collapse: collapse;
	border-spacing: 0px;
}
table.data_list_select_fields_menu td {
	border: 1px solid black;
	border-top: 0px;
	vertical-align: top;
	padding: 0px;
}
table.data_list_select_fields_menu .header {
	background-color: #C0C0FF;
	text-align: center;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-size: 10pt;
	padding: 1px 2px;
	white-space: nowrap;
}
table.data_list_select_fields_menu .content {
	background-color: white;
	text-align: left;
	font-size: 8pt;
	padding: 1px 2px;
	white-space: nowrap;
}
table.data_list_select_fields_menu td input {
	height: 12px;
	vertical-align: middle;
}
table.data_list_select_fields_menu .sub_data {
	margin-left: 20px;
}
.data_list_filter {
}
.data_list_filter>.or_container {
	margin-left: 30px;
}