.date_picker {
	background-color: transparent;
	background: transparent;
}
.date_picker>div:first-child {
	background-color: #D0D0FF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #8080FF;
	border-bottom: 0px;
	margin: 0px;
}
.date_picker>div:last-child {
    background-color: #D0D0FF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	border: 1px solid #8080FF;
	border-top: 0px;
	margin: 0px;
	font-size: 11px;
}
.date_picker>div img {
	vertical-align: top;
	padding-left: 1px;
}
.date_picker select {
	font-size: 11px;
	border: none;
	background-color: #D0D0FF;
	vertical-align: middle;
}
.date_picker .small_calendar {
	border: 0px;
}
.context_menu.popup_date_picker {
	border: none;
	background-color: transparent;
	background: transparent;
}