html, body, table, input, select {
	font-family: Arial, Tahoma, Verdana;
	font-size: 10pt;
}
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #e8e8e8;
}
body {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
}
input[type="text"], input[type="password"] {
	border: 1px solid #C0C0F0;
}
input.informative_text {
	font-style: italic;
	color: #808080;
}
ul {
	margin: 0px;
}

table.all_borders {
	border: 1px solid black;
	border-collapse: collapse;
}
table.all_borders>tbody>tr>td, table.all_borders>tr>td {
	border: 1px solid black;
}
table.all_borders>tbody>tr>th, table.all_borders>tr>th {
	border: 1px solid black;
}

.lock_screen_content {
	display: inline-block;
	padding: 5px;
	background-color: white;
	border: 1px solid #8080F0;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 1px #A0A0F0;
}

.page_container {
	background-color: white;
	border-radius: 5px;
}
.page_title {
	font-family: Arial;
    font-size: 32px;
    color: #404040;
    font-weight: 100;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
}
.page_title>img {
	vertical-align: middle;
}
.page_footer {
	border-top: 1px solid #DDDDDD;
	padding: 5px 15px 5px 15px;
	background-color: white;
}
.page_section_title {
    font-family: Arial;
    font-size: 20px;
    color: #404040;
    font-weight: 100;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    box-shadow: 0px -3px 5px -2px #DDDDDD inset;
}
.page_section_title2 {
    font-family: Arial;
    font-size: 16px;
    color: #404040;
    font-weight: 100;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    box-shadow: 0px -3px 5px -2px #DDDDDD inset;
}
.page_section_title3 {
    font-family: Arial;
    font-size: 14px;
    color: #404040;
    font-weight: 100;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    box-shadow: 0px -3px 5px -2px #DDDDDD inset;
}

/* Button */
button img {
    vertical-align: bottom;
}

button {
	padding: 1px 2px 1px 2px;
	text-align: center;
	color: black;
	border: 1px solid rgba(128,128,128,0.8);
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(170,170,170,0);
    display: inline-block;
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* W3C */
    font-family: Arial;
    font-weight: normal;
    white-space: nowrap;
    cursor: pointer;
    margin: 1px;
}
button:hover {
    border: 1px solid rgba(0,0,0,0.6);
    box-shadow: 1px 1px 1px rgba(170,170,170,1);
    background-color: rgba(255,255,255,0.6);
}
button:active {
    box-shadow: 0px 0px 0px rgba(170,170,170,0);
    position: relative;
    top: 1px;
    left: 1px;
}
button:focus {
	outline: none;
	border: 1px solid #4040F0;
}
button:disabled {
	color: graytext;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px rgba(170,170,170,0);
    cursor: default;
    opacity: 0.7;
}
button:disabled:hover {
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px rgba(170,170,170,0);
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(192,192,192,0.6) 100%); /* W3C */
}
button:disabled:active {
	margin: 1px;
	top: 0px;
	left: 0px;
}
button:disabled img {
    -webkit-filter: grayscale(100%) contrast(30%);  /* safari/chrome */
    -moz-filter: grayscale(100%) contrast(30%); /* firefox */
    -ms-filter: grayscale(100%) contrast(30%);  /* IE >= 9 */
    -o-filter: grayscale(100%) contrast(30%); /* Opera, if support CSS3 */
    filter: gray; filter: grayscale(100%) contrast(30%); /* edge browsers */ 
}

button a {
	text-decoration: none;
	color: inherit;
}

button.flat {
    border: 1px solid rgba(0,0,0,0);
    padding: 2px;
    border-radius: 3px;
    background: transparent;
    background-color: transparent;
}
button.flat:hover {
    border: 1px solid rgba(128,128,128,0.4);
    background-color: rgba(255,255,255,0.2);
    box-shadow: 1px 1px 1px rgba(170,170,170,0.6);
}
button.flat:active {
    box-shadow: 0px 0px 0px rgba(170,170,170,0);
}
button.flat:hover:disabled {
    border: 1px solid rgba(128,128,128,0.2);
    box-shadow: 0px 0px 0px rgba(170,170,170,0);
    background: transparent;
    background-color: transparent;
}
button.flat a {
    text-decoration: none;
    color: black;
}

button.action {
    padding: 1px 3px 1px 3px;
    border-radius: 7px;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: white;
    font-size: 9pt;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid rgba(0,0,0,0);
}
button.action:hover {
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 1px 1px 1px rgba(170,170,170,0.6);
    background: linear-gradient(to bottom, #44a8eb, #3990c9);
}
button.action:disabled {
	background: #C0C0C0;
	color: #808080;
}
button.action:disabled:hover {
    border: 1px solid rgba(255,255,255,0);
    box-shadow: 1px 1px 1px rgba(170,170,170,0);
}
button.action.important {
    background: linear-gradient(to bottom, #34db98, #099960);
}
button.action.important:hover {
	background: linear-gradient(to bottom, #44eba8, #19a970);
}
button.action.important:disabled {
    background: #C0C0C0;
}


button.small {
    padding: 0px;
}
button.small_icon {
    padding: 0px;
    font-size: 1px;
}

/* Remove additional space of Firefox for buttons */
button::-moz-focus-inner {
    padding: 0;
    border: 0
}

/* Validation */

.validation_message {
	visibility: hidden;
	position: absolute;
	top: -10000px;
	color: red;
}
.validation_message img {
	vertical-align: middle;
}
.validation_error {
	border: 1px solid red;
}

/* Links */
a.black_link, .black_link {
	color: black;
	cursor: pointer;
	text-decoration: none;
}
a.black_link:hover, .black_link:hover {
	text-decoration: underline;
}

/* Tooltip */
.tooltip, .tooltip_right {
    background-color: #303030;
    color: white;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 11px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0px 0px 5px black;
}
.tooltip:before {
    position: absolute;
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #303030;
    border-right: 7px solid transparent;
    border-bottom-color: #303030;
    left: 15px;
    top: -7px;
    content: '';
}
.tooltip_right:before {
    position: absolute;
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #303030;
    border-right: 7px solid transparent;
    border-bottom-color: #303030;
    right: 15px;
    top: -7px;
    content: '';
}
.tooltip_right.tooltip_veryright:before {
    right: 5px;
}

/* Information sections: help, warning, error... */
.help {
	background-color: #D8D8FF;
}
.help_header {
	padding: 2px;
	background-color: #D8D8FF;
	border-bottom: 1px solid #8080FF;
}
.info {
	background-color: #FFFFD8;
}
.info_box {
	background-color: #FFFFD8;
	border: 1px solid #C0C0A0;
	margin: 5px;
	padding: 3px;
}
.info_header {
	padding: 2px;
    background-color: #FFFFD8;
	border-bottom: 1px solid #A0A060;
}
.info_footer {
	padding: 2px;
    background-color: #FFFFD8;
	border-top: 1px solid #A0A060;
}
.warning {
	background-color: #FFFFD8;
}
.warning_footer {
	background-color: #FFFFD8;
	border-top: 1px solid #A0A060;
	padding: 2px;
}
.warning_box {
    background-color: #FFFFD8;
    border: 1px solid #C0C0A0;
    margin: 5px;
    padding: 3px;
}
.error {
	background-color: #FFD8D8;
}
.error_box {
	background-color: #FFD8D8;
    border: 1px solid #F0A0A0;
    margin: 5px;
    padding: 3px;
}