.mac_tabs {
	border: 1px solid black;
	display: inline-block;
	margin: 2px;
}
.mac_tab {
	border-right: 1px solid black;
	padding: 3px 5px 3px 5px;
	display: inline-block;
	background-color: #D0D0D0;
	color: black;
	font-size: 10pt;
	font-weight: normal;
	cursor: pointer;
	background: linear-gradient(to bottom, #F0F0F0 50%, #D0D0D0 100%);
}
.mac_tabs.compressed .mac_tab {
	padding: 3px 2px 0px 2px;
}
.mac_tab.selected {
	background-color: #A0A0A0;
	background: linear-gradient(to bottom, #C0C0C0 0%, #A0A0A0 50%, #C0C0C0 100%);
}
.mac_tab:last-child {
	border-right: 0px;
}
