.page_header, .page_header_small {
	background: linear-gradient(to bottom,  #ebf1f6 0%,#c8e6ff 50%,#b4dcf0 51%,#d5ebfb 100%); /* W3C */
	border-bottom: 1px solid #C0E0FF;
}
.page_header {
	height: 35px;
}
.page_header_small {
	height: 25px;
}
.page_header_title {
	/* header_title */
	border-right: 1px solid #FFFFFF;
	vertical-align: middle;
	font-weight: bold;
	color: #3030A0;
	background-color: rgba(240,240,240,0.6);
	border-bottom-right-radius: 10px 10px;
	padding: 3px 6px 2px 3px;
	margin-right: 5px;
}
.page_header .page_header_title img {
	margin-right: 5px;
	vertical-align: middle;
}
.page_header_small .page_header_title img {
	margin-right: 3px;
	vertical-align: bottom;
}
.page_header .page_header_title {
	font-size: 12pt;
}
.page_header_small .page_header_title {
	font-size: 10pt;
}
