table.selection_partners_table td.partner_name {
	font-weight: bold;
	font-size: 16px;
	vertical-align: middle;
}
table.selection_partners_table td.partner_contacts .designation {
	font-color: #606060;
}

.selection_status ul {
	padding-left: 20px;
}
.selection_status .ok {
	color: green;
}
.selection_status .problem {
	color: red;
}
.selection_status .need_action {
	color: DarkOrange;
}