.wizard {
	position: absolute;
	visibility: hidden;
	top: -10000px;
}

.wizard_table {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.wizard_table td {
	padding: 0px;
	margin: 0px;
}

.wizard_header {
	background-color: #D0D0FF;
	font-size: 12pt;
	color: #4040F0;
	height: 40px;
	border-bottom: 1px solid #8080FF;
}

.wizard_content {
	height: 100%;
	vertical-align: top;
}

.wizard_buttons {
	background-color: #D0D0D0;
	border-top: 1px solid #808080;
	height: 30px;
	text-align: right;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.wizard_buttons>td {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.wizard_buttons button {
	margin-left: 5px;
	margin-right: 5px;
}
